{% extends 'bash.html' %}
{% load static %}
{% block main_container %}
<div class="container-scroller">
      <div class="main-panel">
       {% include 'header.html' %}
        <!-- partial -->
        <div class="flash-news-banner">
          <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <span class="badge badge-dark mr-3">Flash news</span>
                <p class="mb-0">
                  {{flash_news.title}}
                </p>
              </div>
              <div class="d-flex">
                <span class="mr-3 text-danger">{{flash_news.timestamp}}</span>
                <span class="text-danger">30°C,London</span>
              </div>
            </div>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="container">
            <div class="row" data-aos="fade-up">
              <div class="col-xl-8 stretch-card grid-margin">
                <div class="position-relative">
                  <img
                    src="{{ sliders.image.url }}"
                    alt="banner"
                    class="img-fluid"
                  />
                  <div class="banner-content">
                    <div class="badge badge-danger fs-12 font-weight-bold mb-3">
                      {{sliders.news_type}}
                    </div>
                    <h1 class="mb-0">{{sliders.title}}</h1>
                    <h1 class="mb-2">
                      {{sliders.news_desc}}
                    </h1>
                    <div class="fs-12">
                      <span class="mr-2">Photo </span>10 Minutes ago
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 stretch-card grid-margin">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h2>Latest news</h2>

                    <div
                      class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between"
                    >
                      <div class="pr-3">
                        <h5>Virus Kills Member Of Advising Iran’s Supreme</h5>
                        <div class="fs-12">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </div>
                      </div>
                      <div class="rotate-img">
                        <img
                          src="assets/images/dashboard/home_1.jpg"
                          alt="thumb"
                          class="img-fluid img-lg"
                        />
                      </div>
                    </div>

                    <div
                      class="d-flex border-bottom-blue pb-4 pt-4 align-items-center justify-content-between"
                    >
                      <div class="pr-3">
                        <h5>Virus Kills Member Of Advising Iran’s Supreme</h5>
                        <div class="fs-12">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </div>
                      </div>
                      <div class="rotate-img">
                        <img
                          src="assets/images/dashboard/home_2.jpg"
                          alt="thumb"
                          class="img-fluid img-lg"
                        />
                      </div>
                    </div>

                    <div
                      class="d-flex pt-4 align-items-center justify-content-between"
                    >
                      <div class="pr-3">
                        <h5>Virus Kills Member Of Advising Iran’s Supreme</h5>
                        <div class="fs-12">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </div>
                      </div>
                      <div class="rotate-img">
                        <img
                          src="assets/images/dashboard/home_3.jpg"
                          alt="thumb"
                          class="img-fluid img-lg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-lg-3 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h2>Category</h2>
                    <ul class="vertical-menu">
                      {% for category in categorys %}
                      <li><a href="#">{{category.name}}</a></li>
                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    {% for article in articles %}
                    <a href="{% url 'article-details' article.id %}">
                    <div class="row">
                      <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img">
                            <img
                              src="{{article.image.url}}"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold"
                              >{{article.category.name}}</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8  grid-margin">
                        <h2 class="mb-2 font-weight-600">
                        {{article.title}}
                        </h2>
                        <div class="fs-13 mb-2">
                          <span class="mr-2">{{article.author_name}} </span>{{article.timestamp}}
                        </div>
                        <p class="mb-0">
                         {{article.get_short_desc}}
                        </p>
                      </div>
                    </div>
                    </a>
                    {% endfor %}


                  </div>
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-sm-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="card-title">
                          Video
                        </div>
                        <div class="row">
                          {% for video in videos %}
                          <div class="col-sm-6 grid-margin">
                            <div class="position-relative">
                              <div class="rotate-img">
                                <img
                                  src="{{video.video_thumb.url}}"
                                  alt="thumb"
                                  class="img-fluid"
                                />

                              </div>
                              <div class="badge-positioned w-90">
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <span
                                    class="badge badge-danger font-weight-bold"
                                    >{{video.video_type}}</span
                                  >
                                  <div class="video-icon">
                                    <i class="mdi mdi-play"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                           {% endfor %}
                        </div>

                      </div>
                      <div class="col-lg-4">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="card-title">
                            Latest Video
                          </div>
                          <p class="mb-3">See all</p>
                        </div>
                        {% for latestVideo in latestvideos %}
                        <div
                          class="d-flex justify-content-between align-items-center border-bottom pb-2"
                        >
                          <div class="div-w-80 mr-3">
                            <div class="rotate-img">
                              <img
                                src="{{latestVideo.image.url}}"
                                alt="thumb"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <h3 class="font-weight-600 mb-0">
                            {{latestVideo.title}}
                          </h3>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="card-title">
                          Sport light
                        </div>
                        <div class="row">
                          {% for sport_light in sport_lights %}
                          <div class="col-xl-6 col-lg-8 col-sm-6">
                            <div class="rotate-img">
                              <img
                                src="{{sport_light.image.url}}"
                                alt="thumb"
                                class="img-fluid"
                              />
                            </div>
                            <h2 class="mt-3 text-primary mb-2">
                              {{sport_light.get_short_title}}..
                            </h2>
                            <p class="fs-13 mb-1 text-muted">
                              <span class="mr-2">{{sport_light.author_name}} </span>{{sport_light.timestamp}}
                            </p>
                            <p class="my-3 fs-15">
                              {{sport_light.get_short_desc}}
                            </p>
                            <a href="#" class="font-weight-600 fs-16 text-dark"
                              >Read more</a
                            >
                          </div>
                          {% endfor %}
                          <div class="col-xl-6 col-lg-4 col-sm-6">
                            {% for center in sport_lights_center %}
                              <a href="{% url 'sport-light-news-details' center.id %}">
                            <div class="border-bottom pb-3 mb-3">
                              <h3 class="font-weight-600 mb-0">
                                {{center.get_short_title}} ..
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">{{center.author_name}} </span>{{center.timestamp}}
                              </p>
                              <p class="mb-0">
                                {{center.get_short_desc2}}
                              </p>
                            </div>
                             </a>
                            {% endfor %}

                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="card-title">
                              Sport light
                            </div>
                            {% for middle in sport_lights_middle %}
                            <a href="{% url 'sport-light-middle-news-details' middle.id %}">
                            <div class="border-bottom pb-3">
                              <div class="rotate-img">
                                <img
                                  src="{{middle.image.url}}"
                                  alt="thumb"
                                  class="img-fluid"
                                />
                              </div>
                              <p class="fs-16 font-weight-600 mb-0 mt-3">
                                {{middle.title}}
                              </p>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">{{middle.author_name}} </span>{{middle.timestamp}}
                              </p>
                            </div>
                              </a>
                            {% endfor %}
                          </div>
                          <div class="col-sm-6">
                            <div class="card-title">
                              Celebrity news
                            </div>
                            {% for cn in celebrity_news %}
                            <a href="{% url 'celebrity-news-details' cn.id %}">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="border-bottom pb-3">
                                  <div class="row">
                                    <div class="col-sm-5 pr-2">
                                      <div class="rotate-img">
                                        <img
                                          src="{{cn.image.url}}"
                                          alt="thumb"
                                          class="img-fluid w-100"
                                        />
                                      </div>
                                    </div>
                                    <div class="col-sm-7 pl-2">
                                      <p class="fs-16 font-weight-600 mb-0">
                                       {{cn.get_short_title2}} ..
                                      </p>
                                      <p class="fs-13 text-muted mb-0">
                                        <span class="mr-2">{{cn.author_name}} </span>{{cn.timestamp}}
                                      </p>
                                      <p class="mb-0 fs-13">
                                        {{cn.get_short_desc3}}
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                              </a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- main-panel ends -->
        <!-- container-scroller ends -->

      {% include 'footer.html' %}

        <!-- partial -->
      </div>
    </div>
{% endblock %}